# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj/
_test/

# Architecture specific extensions/prefixes
*.[568vq]

# Temp files
*~
*.swp
*.tmp

# Log files
*.log

# Environment variables
.env
.env.production

# Go binaries and executables
*.exe
*.test


# Dependency directories (i.e. /vendor/)
/vendor/

# Compiled output
/bin/